In [ ]:
#Q1.Print numbers from 1 to 5 using a while loop. 
#ANSWER:
i = 1
while i <= 5:
    print(i)
    i += 1

In [ ]:
#Q2.Calculate the sum of numbers from 1 to 10 using a while loop. 
#ANSWER:
i = 1
sum = 0

while i <= 10:
    sum += i
    i += 1

print("Sum =", sum)

In [ ]:
#Q3.Calculate the factorial of a number using a for loop.
#ANSWER:
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n + 1):
    fact *= i

print("Factorial =", fact)

In [ ]:
#Q4.Count the number of vowels in a string using a for loop. 
#ANSWER:
s = input("Enter a string: ")
count = 0

for ch in s:
    if ch.lower() in "aeiou":
        count += 1

print("Number of vowels =", count)

In [ ]:
#Q5.Print a pattern using nested loops. 
#ANSWER:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end="")
    print()

In [ ]:
#Q6.Generate a multiplication table using nested loops
#ANSWER:
for i in range(1, 6):
    print("Table of", i)
    for j in range(1, 11):
        print(i, "x", j, "=", i * j)
    print()