In [ ]:
#Q1.Calculate the sum, difference, product, and quotient of two numbers. 
#ANSWER:
a = 20
b = 5

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

In [ ]:
#Q2.Perform various assignment operations on a variable. 
#ANSWER:
x = 10
x += 5   # x = x + 5
print(x)
x -= 3   # x = x - 3
print(x)
x *= 2   # x = x * 2
print(x)
x /= 4   # x = x / 4
print(x)
x %= 3   # x = x % 3
print(x)

In [ ]:
#Q3.Compare two numbers and print the results.
#ANSWER:
a = 15
b = 10

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

In [ ]:
#Q4.Check conditions using logical operators. 
#ANSWER:
a = 10
b = 5

print(a > 5 and b < 10)   # True if both are true
print(a > 5 or b > 10)    # True if any one is true
print(not(a == 10))       # Reverse the condition

In [ ]:
#Q5.Check the identity of variables.
#ANSWER:
a = [1, 2]
b = [1, 2]
c = a

print(a is b)   # False
print(a is c)   # True
print(a == b)   # True (values same)

In [ ]:
#Q6.Perform bitwise operations on any two integers.
#ANSWER:
a = 10   # 1010
b = 6    # 0110

print("AND =", a & b)     # 2
print("OR =", a | b)      # 14
print("XOR =", a ^ b)     # 12
print("NOT a =", ~a)      # -11
print("Left shift =", a << 1)   # 20
print("Right shift =", a >> 1)  # 5

In [ ]:
#Q7.Use unary operators to change the sign of a number. 
#ANSWER:
num = 7
print(+num)   # 7
print(-num)   # -7

In [ ]:
#Q8.Use the ternary operator to assign values based on conditions. 
#ANSWER:
a = 10
b = 20

max_num = a if a > b else b
print("Max =", max_num)